<!DOCTYPE html>
<html>
<head>
  <title>我的计划</title>
  <script src="../static/js/jquery-3.5.1.min.js"></script>
</head>
<body>
<!--  <h1>心灵再慢一点，动手再做一点！</h1>-->
  {% for index, name in menu_list %}
  <h2 class="menu_item" onclick="testUrl()">{{ index }}, {{ name }}</h2>
  {% endfor %}
</body>
<style type="text/css">
.menu_item{
  cursor: pointer;
}
</style>
<script>
  function request(url, type, data, contentType) {
    return $.ajax({
      url: url,
      type: type,
      data: data,
      dataType: "json",
      contentType: contentType
    }).fail(function(xhr, status, error){
      alert("Error: " + error);
    });
  }
  function get(url, data) {
    return request(url, 'get', data, 'text/html')
  }
  function post(url, data) {
    return request(url, 'post', JSON.stringify(data), 'application/json')
  }
  function testUrl() {
    post('/create_new_plan', {"plan_name": "test", "start_time": "2023-11-25", "list_nums": 4}).done(res => {
      console.log(res);
    });

  }
</script>
<html>